In [123]:
import numpy as np
import pandas as pd
import pylab as pl
import os
import sqlalchemy as sql
from pandas import Panel
from pandas.stats import plm
import geopandas as gpd
from datetime import datetime
from pandas.stats import plm
import statsmodels.formula.api as smf

%pylab inline

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['datetime']
`%matplotlib` prevents importing * from pylab and numpy

In [124]:
df = pd.read_csv('by_hour_day.csv', names=['day','count','cam'])
df = df[df['day'] != 'Error']
df.head(3)

             day  count  cam
0  2017-06-27 20     19  121
1  2017-06-27 20     48  125
2  2017-06-27 20      9  126

In [125]:
df['date'] = pd.to_datetime(df['day'] + str(':00:00'), format='%Y-%m-%d %H:%M:%S')
df.set_index(df['date'], inplace = True)

In [126]:
df.head(3)

                               day  count  cam                date
date
2017-06-27 20:00:00  2017-06-27 20     19  121 2017-06-27 20:00:00
2017-06-27 20:00:00  2017-06-27 20     48  125 2017-06-27 20:00:00
2017-06-27 20:00:00  2017-06-27 20      9  126 2017-06-27 20:00:00

In [127]:
# get day of week dummies
# hrs = ['0h','1h','2h', '3h', '4h', '5h', '6h', '7h', '8h', '9h', '10h', '11h', '12h', '13h', '14h', '15h', '16h',\
#        '17h', '18h', '19h',\
#        '20h', '21h', '22h', '23h']
# for i, hr in enumerate(hrs):
#     df[hr] = (df.index.hour == i)*1

intervals = ['6-10', '10-14', '14-18', '18-22', '22-2', '2-6']

df['6-10'] = ((df.index.hour > 5) & (df.index.hour < 10))*1

df['10-14'] = ((df.index.hour > 9) & (df.index.hour < 14))*1

df['14-18'] = ((df.index.hour > 13) & (df.index.hour < 18))*1

df['18-22'] = ((df.index.hour > 17) & (df.index.hour < 22))*1

df['22-2'] = ((df.index.hour > 21) & (df.index.hour < 2))*1

df['2-6'] = ((df.index.hour > 1) & (df.index.hour < 6))*1


# get month dummies
days = ['weekday','weekend']
df['weekday'] = (df.index.dayofweek < 5)*1
df['weekend'] = (df.index.dayofweek > 4)*1

In [128]:
df.head(3)

,day,count,cam,date,6-10,10-14,14-18,18-22,22-2,2-6,weekday,weekend
date,,,,,,,,,,,,
2017-06-27 20:00:00,2017-06-27 20,19,121,2017-06-27 20:00:00,0,0,0,1,0,0,1,0
2017-06-27 20:00:00,2017-06-27 20,48,125,2017-06-27 20:00:00,0,0,0,1,0,0,1,0
2017-06-27 20:00:00,2017-06-27 20,9,126,2017-06-27 20:00:00,0,0,0,1,0,0,1,0

In [129]:
df = df[df.cam.isin([504, 540, 398, 794, 503, 838, 163, 491, 488, 91])]
# df = df[df.cam.isin([504])]

In [130]:
df.cam.unique()

array([163, 398, 488, 491, 503, 504, 540, 794, 838])

In [131]:
df.shape

(2871, 12)

In [132]:
df_panel = df[df.weekend == 1].set_index(['date','cam'])
df_panel['count_lag4'] = df_panel['count'].shift(4)
df_panel['count_lag24'] = df_panel['count'].shift(24)

In [122]:
plm.PanelOLS(y = df_panel['count'], x = df_panel[['count_lag4','6-10', '10-14', '14-18', '18-22', '22-2', '2-6',\
                                                  ]],\
                                                    entity_effects=True)

-------------------------Summary of Regression Analysis-------------------------

Formula: Y ~ <count_lag4> + <6-10> + <10-14> + <14-18> + <18-22> + <22-2>
             + <2-6> + <FE_398> + <FE_488> + <FE_491> + <FE_503> + <FE_504> + <FE_540>
             + <FE_794> + <FE_838> + <intercept>

Number of Observations:         1886
Number of Degrees of Freedom:   15

R-squared:         0.6914
Adj R-squared:     0.6891

Rmse:             71.0330

F-stat (15, 1871):   299.4748, p-value:     0.0000

Degrees of Freedom: model 14, resid 1871

-----------------------Summary of Estimated Coefficients------------------------
      Variable       Coef    Std Err     t-stat    p-value    CI 2.5%   CI 97.5%
--------------------------------------------------------------------------------
    count_lag4     0.4204     0.0210      20.02     0.0000     0.3793     0.4616
          6-10    69.9516     5.8697      11.92     0.0000    58.4469    81.4563
         10-14    85.6579     6.3259      13.54     0.0000    73.2593    98.0566
         14-18   107.8088     6.8318      15.78     0.0000    94.4186   121.1991
         18-22    61.9837     6.2904       9.85     0.0000    49.6545    74.3129
--------------------------------------------------------------------------------
          22-2     0.0000        nan        nan        nan        nan        nan
           2-6    -7.6134     5.5998      -1.36     0.1741   -18.5889     3.3621
        FE_398    59.5770     7.7664       7.67     0.0000    44.3549    74.7992
        FE_488   -64.4287     7.3060      -8.82     0.0000   -78.7484   -50.1090
        FE_491  -180.3262     6.9505     -25.94     0.0000  -193.9492  -166.7033
--------------------------------------------------------------------------------
        FE_503   -80.2497     6.9681     -11.52     0.0000   -93.9072   -66.5922
        FE_504   -38.7134     6.9528      -5.57     0.0000   -52.3409   -25.0859
        FE_540  -161.9784     7.1384     -22.69     0.0000  -175.9696  -147.9872
        FE_794   -73.0778     7.6544      -9.55     0.0000   -88.0805   -58.0752
        FE_838   -22.1555     6.9859      -3.17     0.0015   -35.8477    -8.4632
--------------------------------------------------------------------------------
     intercept    79.5017     6.3839      12.45     0.0000    66.9893    92.0141
---------------------------------End of Summary---------------------------------

In [133]:
plm.PanelOLS(y = df_panel['count'], x = df_panel[['count_lag4','6-10', '10-14', '14-18', '18-22', '22-2', '2-6',\
                                                  ]],\
                                                    entity_effects=True)

-------------------------Summary of Regression Analysis-------------------------

Formula: Y ~ <count_lag4> + <6-10> + <10-14> + <14-18> + <18-22> + <22-2>
             + <2-6> + <FE_398> + <FE_488> + <FE_491> + <FE_503> + <FE_504> + <FE_540>
             + <FE_794> + <FE_838> + <intercept>

Number of Observations:         860
Number of Degrees of Freedom:   15

R-squared:         0.6971
Adj R-squared:     0.6921

Rmse:             58.7626

F-stat (15, 845):   138.9311, p-value:     0.0000

Degrees of Freedom: model 14, resid 845

-----------------------Summary of Estimated Coefficients------------------------
      Variable       Coef    Std Err     t-stat    p-value    CI 2.5%   CI 97.5%
--------------------------------------------------------------------------------
    count_lag4     0.4231     0.0321      13.20     0.0000     0.3603     0.4859
          6-10    31.4025     7.0342       4.46     0.0000    17.6155    45.1896
         10-14    79.0074     8.1217       9.73     0.0000    63.0889    94.9260
         14-18    90.7993     8.4658      10.73     0.0000    74.2064   107.3922
         18-22    50.0308     7.8085       6.41     0.0000    34.7262    65.3354
--------------------------------------------------------------------------------
          22-2    -0.0000        nan        nan        nan        nan        nan
           2-6    -8.1025     7.0016      -1.16     0.2475   -21.8256     5.6206
        FE_398   -14.5855     9.6434      -1.51     0.1308   -33.4866     4.3156
        FE_488   -49.0458     9.0782      -5.40     0.0000   -66.8392   -31.2524
        FE_491  -139.4053     8.5319     -16.34     0.0000  -156.1279  -122.6827
--------------------------------------------------------------------------------
        FE_503   -65.3570     8.5603      -7.63     0.0000   -82.1351   -48.5788
        FE_504   -14.3336     8.6122      -1.66     0.0964   -31.2136     2.5463
        FE_540  -146.8161     8.7072     -16.86     0.0000  -163.8823  -129.7499
        FE_794   -84.7103     9.1268      -9.28     0.0000  -102.5987   -66.8218
        FE_838   -13.5954     8.5303      -1.59     0.1114   -30.3148     3.1240
--------------------------------------------------------------------------------
     intercept    76.5567     8.0074       9.56     0.0000    60.8621    92.2513
---------------------------------End of Summary---------------------------------

In [84]:
plm.PanelOLS(y = df_panel['count'], x = df_panel[['count_lag24','weekday','weekend']],\
                 entity_effects=True)

-------------------------Summary of Regression Analysis-------------------------

Formula: Y ~ <count_lag24> + <weekday> + <weekend> + <FE_398> + <FE_488>
             + <FE_491> + <FE_503> + <FE_504> + <FE_540> + <FE_794> + <FE_838>
             + <intercept>

Number of Observations:         2730
Number of Degrees of Freedom:   11

R-squared:         0.3481
Adj R-squared:     0.3457

Rmse:             98.3380

F-stat (11, 2719):   145.1937, p-value:     0.0000

Degrees of Freedom: model 10, resid 2719

-----------------------Summary of Estimated Coefficients------------------------
      Variable       Coef    Std Err     t-stat    p-value    CI 2.5%   CI 97.5%
--------------------------------------------------------------------------------
   count_lag24     0.3037     0.0183      16.58     0.0000     0.2678     0.3396
       weekday    68.8344     2.6065      26.41     0.0000    63.7256    73.9432
       weekend    55.7469     2.9497      18.90     0.0000    49.9655    61.5283
        FE_398   -62.5207     8.2206      -7.61     0.0000   -78.6330   -46.4084
        FE_488  -146.2882     8.3748     -17.47     0.0000  -162.7029  -129.8735
--------------------------------------------------------------------------------
        FE_491  -163.2250     7.9968     -20.41     0.0000  -178.8988  -147.5513
        FE_503   -73.7917     8.0135      -9.21     0.0000   -89.4981   -58.0853
        FE_504   -72.6406     8.3669      -8.68     0.0000   -89.0396   -56.2415
        FE_540  -239.5698     8.5542     -28.01     0.0000  -256.3360  -222.8037
        FE_794  -177.4384     8.3749     -21.19     0.0000  -193.8532  -161.0235
--------------------------------------------------------------------------------
        FE_838   -53.6516     8.0736      -6.65     0.0000   -69.4757   -37.8274
     intercept   124.5813     3.8106      32.69     0.0000   117.1126   132.0500
---------------------------------End of Summary---------------------------------

In [53]:
plm.PanelOLS(y = df_panel['count'], x = df_panel[['count_lag24','0h', '1h', '2h', '3h', '4h',\
       '5h', '6h', '7h', '8h', '9h', '10h', '11h', '12h','13h',\
       '14h','15h','16h','17h','18h','19h','20h','21h','22h',\
       '23h']], \
                 entity_effects=True)

-------------------------Summary of Regression Analysis-------------------------

Formula: Y ~ <count_lag24> + <0h> + <1h> + <2h> + <3h> + <4h> + <5h> + <6h>
             + <7h> + <8h> + <9h> + <10h> + <11h> + <12h> + <13h> + <14h> + <15h>
             + <16h> + <17h> + <18h> + <19h> + <20h> + <21h> + <22h> + <23h>
             + <FE_398> + <FE_488> + <FE_491> + <FE_503> + <FE_504> + <FE_540>
             + <FE_794> + <FE_838> + <intercept>

Number of Observations:         2730
Number of Degrees of Freedom:   33

R-squared:         0.6801
Adj R-squared:     0.6763

Rmse:             69.1713

F-stat (33, 2697):   179.1545, p-value:     0.0000

Degrees of Freedom: model 32, resid 2697

-----------------------Summary of Estimated Coefficients------------------------
      Variable       Coef    Std Err     t-stat    p-value    CI 2.5%   CI 97.5%
--------------------------------------------------------------------------------
   count_lag24    -0.1649     0.0187      -8.83     0.0000    -0.2015    -0.1283
            0h -203240600417.8695     6.3693 -31909397785.53     0.0000 -203240600430.3533 -203240600405.3857
            1h -203240600426.5995     6.3994 -31759417476.75     0.0000 -203240600439.1423 -203240600414.0567
            2h -203240600431.6133     6.4537 -31491945090.37     0.0000 -203240600444.2627 -203240600418.9640
            3h -203240600437.0422     6.4987 -31273842960.04     0.0000 -203240600449.7797 -203240600424.3047
--------------------------------------------------------------------------------
            4h -203240600438.1416     6.5186 -31178756956.70     0.0000 -203240600450.9179 -203240600425.3652
            5h -203240600424.1600     6.5412 -31070848162.57     0.0000 -203240600436.9807 -203240600411.3392
            6h -203240600391.2458     6.5530 -31014894718.62     0.0000 -203240600404.0897 -203240600378.4020
            7h -203240600350.4770     6.5335 -31107432735.13     0.0000 -203240600363.2827 -203240600337.6713
            8h -203240600289.4884     6.4160 -31677313800.76     0.0000 -203240600302.0637 -203240600276.9131
--------------------------------------------------------------------------------
            9h -203240600274.9949     6.2979 -32271353659.71     0.0000 -203240600287.3387 -203240600262.6511
           10h -203240600279.5651     6.2717 -32405933448.97     0.0000 -203240600291.8577 -203240600267.2726
           11h -203240600267.4949     6.3128 -32194963197.08     0.0000 -203240600279.8680 -203240600255.1218
           12h -203240600234.3427     6.3114 -32202232589.08     0.0000 -203240600246.7130 -203240600221.9724
           13h -203240600231.5417     6.3201 -32157959265.90     0.0000 -203240600243.9290 -203240600219.1543
--------------------------------------------------------------------------------
           14h -203240600224.5698     6.6077 -30758083899.76     0.0000 -203240600237.5209 -203240600211.6187
           15h -203240600221.4207     6.6788 -30430537859.04     0.0000 -203240600234.5112 -203240600208.3301
           16h -203240600217.5284     6.7198 -30244919822.44     0.0000 -203240600230.6993 -203240600204.3575
           17h -203240600198.0796     6.7049 -30312179935.79     0.0000 -203240600211.2212 -203240600184.9379
           18h -203240600203.4766     6.7128 -30276630560.32     0.0000 -203240600216.6336 -203240600190.3195
--------------------------------------------------------------------------------
           19h -203240600249.5103     6.7405 -30152106032.42     0.0000 -203240600262.7217 -203240600236.2989
           20h -203240600281.9032     6.7828 -29964293877.53     0.0000 -203240600295.1974 -203240600268.6090
           21h -203240600363.5241     6.6721 -30461304033.53     0.0000 -203240600376.6014 -203240600350.4468
           22h -203240600378.5431     6.4649 -31437473084.13     0.0000 -203240600391.2143 -203240600365.8718
           23h -203240600397.9687     6.2695 -32417159381.65     0.0000 -203240600410.2570 -203240600385.6804
--------------------------------------------------------------------------------
        FE_398   -13.0020     5.9565      -2.18     0.0291   -24.6767    -1.3274
        FE_488   -82.0406     6.1760     -13.28     0.0000   -94.1456   -69.9357
        FE_491  -172.0130     5.6307     -30.55     0.0000  -183.0492  -160.9768
        FE_503   -57.9154     5.6553     -10.24     0.0000   -68.9999   -46.8310
        FE_504    -9.0765     6.1648      -1.47     0.1411   -21.1594     3.0065
--------------------------------------------------------------------------------
        FE_540  -160.7195     6.4301     -24.99     0.0000  -173.3225  -148.1165
        FE_794  -112.4332     6.1800     -18.19     0.0000  -124.5460  -100.3204
        FE_838   -22.5603     5.7481      -3.92     0.0001   -33.8266   -11.2941
     intercept 203240600522.0063     3.8533 52744464607.47     0.0000 203240600514.4538 203240600529.5587
---------------------------------End of Summary---------------------------------

In [265]:
md = smf.mixedlm("count ~ weekday + weekkend", df, groups=df["cam"]).fit()
md.summary()

/opt/rh/anaconda/root/lib/python2.7/site-packages/statsmodels/regression/mixed_linear_model.py:1705: ConvergenceWarning: Gradient optimization failed.
  warnings.warn(msg, ConvergenceWarning)
/opt/rh/anaconda/root/lib/python2.7/site-packages/statsmodels/base/model.py:971: RuntimeWarning: invalid value encountered in sqrt
  return np.sqrt(np.diag(self.cov_params()))

<class 'statsmodels.iolib.summary2.Summary'>
"""
                    Mixed Linear Model Regression Results
============================================================================
Model:                   MixedLM       Dependent Variable:       count
No. Observations:        2754          Method:                   REML
No. Groups:              9             Scale:                    10584.7163
Min. group size:         306           Likelihood:               -16667.3619
Max. group size:         306           Converged:                No
Mean group size:         306.0
----------------------------------------------------------------------------
               Coef.     Std.Err.     z   P>|z|     [0.025         0.975]
----------------------------------------------------------------------------
Intercept       73.404 55972661.820 0.000 1.000 -109704327.882 109704474.690
weekday         45.571 55972661.820 0.000 1.000 -109704355.715 109704446.857
weekkend        27.833 55972661.820 0.000 1.000 -109704373.453 109704429.119
Intercept RE 10584.716
============================================================================

"""

In [271]:
df.columns = ['day','count','cam','date' ,'0h', '1h', '2h', '3h', '4h',\
       '5h', '6h', '7h', '8h', '9h', '10h', '11h', '12h','13h',\
       '14h','15h','16h','17h','18h','19h','20h','21h','22h',\
       '23h', 'weekday','weekend']

In [270]:
df.columns

Index([u'day', u'count', u'cam', u'date', u'0h', u'1h', u'2h', u'3h', u'4h',
       u'5h', u'6h', u'7h', u'8h', u'9h', u'10h', u'11h', u'12h', u'13h',
       u'14h', u'15h', u'16h', u'17h', u'18h', u'19h', u'20h', u'21h', u'22h',
       u'23h', u'weekday', u'weekkend'],
      dtype='object')

In [1]:
md.sumary()

NameError: name 'md' is not defined